<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.echo">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- android:theme="@style/Theme.Echo" -->
    <application
        android:name="com.example.echo.ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/echogaze"
        android:label="@string/app_name"
        android:roundIcon="@drawable/echogaze"
        android:supportsRtl="true"
        android:theme="@style/Theme.Echo">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.echo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity
            android:name="com.example.echo.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.example.echo.MainActivity" />

    </application>

</manifest>